/* variables */
:root{
  --color-principale:#5b9d7f;
  --color-secondary:black;
  --color-tertiary:#212529;
  --text-color: white; 
  --title-color : rgb(211, 11, 88);
}
.dark-mode {
  --color-principale: #1a6183;
  --color-secondary: #f1f4f6;
  --text-color: black;
  --color-tertiary:#a8a9aa;
  --title-color : #1a6183;
}
/* layout*/
#mode{
  color: var(--color-principale);
  border: var(--color-principale) 1px solid;
  height: 50px;
  width: 100px;
  font-size: 12px;
  padding: 5px;
  margin: 15px 25px 20px 10px;
  text-align: center;
  
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    margin: 0;
    background: var(--color-secondary);;
    max-width: 100%;
  }
a{
    color: var(--color-principale);
}

.header {
  background-color: var(--color-secondary);;
  max-width: 1400px;
  max-height: 150px;
  border-bottom: solid 1px var(--color-principale);
  flex-direction: row;
  flex-wrap:nowrap;
  display: flex;
}
.header_mode{
  text-align: center ;
  margin-top: 15px;
}
  
.logo {
  margin-left: -10px;
  margin-top: 10px;;
  height: 100%;
  max-height: 150px;
  width: 70%;
  max-width:500px;  
}

.logo_logged {
  text-align: left;
  height: 100%;
  max-height: 100px;
  width: 100px;
  max-width:100px;
  }
.header_action{
  width: 200px;
  display: flex;
  justify-content: right;
}
#logout{
  color: var(--color-principale);
  border: var(--color-principale) 1px solid;
  height: 50px;
  font-size: 12px;
  padding: 5px;
  margin: 15px 20px 20px 10px;
  text-align: center;
}
#logout :active :hover{
  background-color: var(--color-principale);
  color:var(--text-color);
}
.header_avatar{
  height: 50px;
  width: 50px;
  max-height: 50px;
  max-width: 50px;
  text-align: left;
  border: var(--color-principale) solid 3px;
  cursor: pointer;

}

.avatar_menu{
  display:none;
}

.footer {
  width: 100%;
  height: auto;
  border-top: solid 1px var(--color-principale);
  padding: 20px;
}
.footer p {
  font-size: 10px;
  color: azure;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 2px;
  text-align: center;
}
.custom-file-label{
  display:none
}
.custom-file {

  display:none
}

.header_logged {
  background-color: var(--color-secondary);
  width: 100%;
  padding-right : 10px;
  max-height: 100px;
  border-bottom: solid 1px var(--color-principale);
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap:nowrap;
  display: flex;
}

.header_logged h1{
  width:100%;
  font-size : 16px;
  padding-right: 15px;
  background-image: linear-gradient(90deg, rgba(240,14,4,1) 0%, rgba(247,129,3,1) 17%, rgba(244,224,2,1) 34%, rgba(89,253,29,1) 47%, rgba(43,225,220,1) 60%, rgba(166,137,228,1) 74%, rgba(252,69,204,1) 90%);
  background-clip: text;
  color: transparent;
  text-align: justify;
}



.central{
  height: auto;
  width: 100%;
  padding:20px 0px 20px 10px;
}



/* index */
.form {
display: flex;
justify-content: center;
margin-right: auto;
margin-left: auto;
padding: 20px;
}

p {
margin-top: 20px;
color: var(--text-color);
margin-right: 0;
margin-left: 0;
text-align: center;
font-size: 12px;
}


h2 {
margin: 10px 0px 10px 0px;
padding: 2px 2px 2px 10px;
text-align: center;
color: var(--text-color);
font-size: 18px;
}
.title {
margin: 0;
padding: 0;
min-width: 100%;
}
.explain{
justify-content: center;
}
.description_theme {
max-width: 85%;
border: solid 1px var(--color-principale);
border-radius: 5px;
box-shadow: var(--color-principale) 0px 2px 2px, #5b9d7f81 0px 4px 4px;
margin-left: auto;
margin-right: auto;
margin: 20px;
align-items: center;
justify-content: center;
}

.bloc {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
padding: 10px;
max-height: 140px;
justify-content: left;
}
.bloc img {
width: 30%;
padding: 10px;
}
.bloc p {
margin: 10px;
text-align: left;
justify-content: center;
}

.container_else{
padding: 20px;
width: 100%;
display: flex ;
flex-direction: row;
justify-content: space-evenly;
}
.comeback{
text-align: center;
}
.container_else img{
height: 40%;
width: 40%;
border-radius :50%;
}

.container_else h2{
font-size : 22px;
}

.container_else p{
font-size : 17px;
}
.container_else span{
background-image: linear-gradient(90deg, rgba(240,14,4,1) 0%, rgba(247,129,3,1) 17%, rgba(244,224,2,1) 34%, rgba(89,253,29,1) 47%, rgba(43,225,220,1) 60%, rgba(166,137,228,1) 74%, rgba(252,69,204,1) 90%);
background-clip: text;
color: transparent;
}
.container_else button{
font-size: 14px;
color : var(--text-color);
border: var(--color-principale)1px solid;
border-radius :4%;
box-shadow: var(--color-principale)0px 1px 4px 0px;
background-color:transparent;
padding : 10px

}

.alert-danger{
  background-color: rgba(255, 0, 0, 0.24);
  color: var(--text-color);
}




/* timeline CSS */

.menu{
display :flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
text-align: center;
color: var(--color-principale);
}
.menu div{
border: var(--color-principale)1px solid;
margin : 1px;
padding: 2px;
border-radius:5px;
}

.menu div:hover:active{
background-color: var(--color-principale);
color: var(--text-color);
cursor: pointer;
}


.recent_post {
display: none;
}
.displayedrecent{
  display: block;
}

.commented_post{
display:none ;
}
.displayedcommented{
  display: block;
}


.col-5 {
flex: 0 0 100%;
max-width: 98%;
}
.displayedtimeline{
  display: none;
}

.content_more {
  width: 100%;
  height: 280px;
  overflow: auto;
  border:#5b9d7f44 1px dashed;
  box-shadow: #5b9d7f29 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding:10px;
  margin-bottom :20px;
}
.nocontent_more {
  width: 100%;
  height: auto;
  border:#5b9d7f44 1px dashed;
  box-shadow: #5b9d7f29 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding:10px;
  margin-bottom :20px;
  text-align: center;
  vertical-align: center;
  
}
.nocontent_more p{
  color:var(--color-principale);
  font-size : 20px;
  text-align:center;
}
.nocontent_more img{
 height: 80px;
 width: 80px;
}
#shame{
  height: 80px;
  width: 200px;
}
.visibility-principal{
  height: 600px;
  overflow: auto;
  margin: 0px 10px 0px 10px;
}
.realtimeline{
  overflow: scroll;
  max-height:470px
}

.content_more .stats_bloc{
  width: 40%;
}

.content_more .stats_bloc h3{
  font-size :14px;
}

.content_more .stats_bloc p{
  font-size :35px;
  margin: 0px 0px 0px 0px;
  text-align: center;
}
h2{
  color: rgb(211, 11, 88);
  font-size : 18px;
}


/*404*/
.content{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  margin-top: 50px;
}
h1{
  background-image: linear-gradient(90deg, rgba(240,14,4,1) 0%, rgba(247,129,3,1) 17%, rgba(244,224,2,1) 34%, rgba(89,253,29,1) 47%, rgba(43,225,220,1) 60%, rgba(166,137,228,1) 74%, rgba(252,69,204,1) 90%);
  background-clip: text;
  color: transparent;
  margin : 0px auto 0px auto;
}
p{
  font-size: 14px;
}
blockquote{
  font-size: 20px;
  text-align: center;
  border: solid 1px var(--color-principale);
  border-radius: 5px;
  box-shadow: var(--color-principale) 0px 5px 10px, #5b9d7f81 0px 3px 3px;
  padding:30px 30px 30px 15px;

}
p,blockquote{
  color:var(--text-color);
  margin : 10px 20px 10px 20px;
}
#return_login {
  max-width: 70% ;
  margin: 10px auto 10px auto;
  background-image:linear-gradient(60deg, rgba(240,14,4,1) 0%, rgba(247,129,3,1) 17%, rgba(244,224,2,1) 34%, rgba(89,253,29,1) 47%, rgba(43,225,220,1) 60%, rgba(166,137,228,1) 74%, rgba(252,69,204,1) 90%);
  border-color: var(--color-principale);
  box-shadow: var(--color-principale) 0px 5px 10px, #5b9d7f81 0px 3px 3px;
  color: var(--color-secondary);;
}
#return_login:hover {
  background-image: linear-gradient(90deg, rgba(240,14,4,1) 0%, rgba(247,129,3,1) 17%, rgba(244,224,2,1) 34%, rgba(89,253,29,1) 47%, rgba(43,225,220,1) 60%, rgba(166,137,228,1) 74%, rgba(252,69,204,1) 90%);
  background-clip: text;
  color: transparent;
}




/* ------- Components css ---------- */

/*bodyhome*/ 
.signup{
  padding: 10px;
  border: solid 1px var(--color-principale);
  border-radius : 5px;
  box-shadow: var(--color-principale) 0px 10px 20px, #5b9d7f81 0px 6px 6px;
}

/*sign up */
.nav-tabs {
  border-bottom: 1px solid var(--color-principale);
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #f5f6f8;
  background-color: var(--color-principale);
  border-color: var(--color-principale);
}



.form-control {
  color: var(--text-color);
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-tertiary);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}
.form-control:focus {
  color: var(--color-principale);
  background-color: var(--color-tertiary);;
  border-color: var(--color-principale);
  box-shadow: 0 0 0 0.2rem #5b9d7f29;
}
.btn-primary {
  color: #fff;
  background-color: var(--color-principale);
  border-color: var(--color-principale);
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-left: 40px;
  margin-right: auto;
}
.btn-primary:disabled{
  color: rgba(66, 65, 65, 0.541);
  background-color: var(--color-secondary);
  border-color: #9d5b5b;
  margin-left: 40px;
}
.button_inscription {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button_inscription img {
  height: 50px;
  margin-left: auto;
  margin-right: -55px;
  z-index: 1;
}

.errorMessage {
  font-size: 10px;
  color: var(--color-principale);
  display: flex;
  margin : 3px 10px 0 20px;
  white-space: normal;
  justify-content: center;
}
.selectedFile{
    display:none;
}
.create_style img {
  height: 50px;
}
.create_style span {
  color:var(--color-principale);
  font-size : 16px;
  border: dashed var(--color-principale)1px;
  padding: 5px;
  border-radius: 5%;
}
#style_upload {
  display:flex;
  flex-direction:column;
  max-width:70%;
  margin: auto auto 20px auto;
}


#style_upload span{
  color: var(--color-principale);
  font-size: 18px;
}

#style_upload img{
  border-radius:5%;
  border: var(--color-principale)2px solid;
  margin-right:5px;
  display:flex;
  flex-direction:column;
  max-width:70%;
  margin: auto auto 20px auto;
}

#inscription{
width: 100%;
padding : 0px 0px 0px 0px;
}

/* login */

.nav-tabs {
border-bottom: 1px solid var(--color-principale);
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
color: #f5f6f8;
background-color: var(--color-principale);
border-color: var(--color-principale);
}

.d-block {
font-size: 14px;
color: var(--color-principale);
}
#error{
  background-color: var(--color-principale);
  border: none;
  margin: 10px;
  max-width: 250px;
  text-align: center;
}
#error a{
  color: var(--text-color);
}



/*comment*/

.comment{
  margin: 0 0 0 0;
  padding: 0px 0 10px 0;
  display: flex;
  justify-content: right;
  flex-direction: column;
}

.card_comment{
  display: flex;
  flex-direction: column;
}
.info_comment{
  display: flex;
  flex-direction: row;
}

.owner_comment{
  font-size: 12px;
  margin: 8px 2px 5px 0px ;
  padding-left:2px;
}

.owner_comment span{
  padding-right: 5px;
  color: var(--color-principale);
  font-size: 8px;
}

.content_comment{
  border-radius : 8px 8px 8px 8px;
  margin: 0px 0px 5px 10px;
  width:fit-content;
  max-width: 70%;
  min-width: 45%;
  background-color: var(--color-principale);
  text-overflow: ellipsis;
}

.text_comment{
  margin : 3px 3px 3px 3px;
  padding : 3px 3px 3px 6px;
  overflow-wrap: break-word;
  text-align: left;
}
.comment_overflow{
overflow: overlay;
max-height: 300px;
}

.nocomment{
margin: 3px 0 10px 0;
padding-bottom: 30px;
width: 100%;
text-align: center;
}

#comment_style{
  display: flex;
}
#trash_comment{
  text-align: center;
  margin: auto 0 auto 0;

  cursor: pointer;
}
.trash_comment p{
  font-size : 12px;
  margin-right: 0px;
  padding: 0;
}

#avatar_comment{
  height: 15px;
  width:15px;
  margin: 10px 2px 5px 10px ;
}


/*createPost*/

.create{

  border-bottom: dashed 1px var(--color-principale);
  padding: 5px 5px 10px 5px;
  margin-top : 3px;
  margin-bottom:20px;
}
.create_post{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0 10px auto;
}
.username_create span{
  font-size:10px;
  color: var(--color-principale);
}
.username_create{
  font-size : 14px;
  margin-left : 5px;
}

.post_input{
  margin-left:30px;
  background: none;
  border:1px #5b9d7f3f solid;
  margin-top : -15px;
  width: 340px;
  
}

.username_create span{
  color: var(--color-principale);
  font-size: 10px ;
}
.input_file{
  display: none;

}
.button_file{
  width: auto;
  display: flex;
  flex-direction: row;
}

#overview{

  font-size : 13px;
  color: var(--color-principale);
  background-color: transparent;
  margin-top:-5px;
  margin-right:10px;
  cursor: pointer;
}

.overview_style{
  width:100%;
  margin: 20px auto 10px auto;
}
.btn-secondary {
  font-size : 10px;
  border: none;
  margin-top:-10px;
  color: var(--color-principale);
  }
.button_file img{
  width: 30px;
  margin-right: 5px;
}

.button_create{
display: flex;
flex-direction: row;
align-items: center;

}
.button_create img {
height: 40px;
margin-left: auto;
margin-right: -55px;
z-index: 5;
}

.btn-create {
  color: #fff;
  font-size:10px;
  background-color: var(--color-principale);
  border-color: var(--color-principale);
  margin-left: 45px;
}

.create_input_style{
  display: flex;
  flex-direction: nowrap;
  justify-content: flex-end;
  margin-top:5px;
  z-index: 4;
}

.btn-secondary:hover {
  
  background-color: transparent;
  border-color: var(--color-principale);
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}
.selectedFile{
  display:none;
}

/*mostpost*/


.post{
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
}
.post_card{
  display: flex;
  flex-direction: column;
}
.post_info{
  display: flex;
  flex-direction: row;
}
.subtitle{
text-align: left;
color: var(--title-color);
}
.post_ownername{
  font-size: 12px;
  margin-top: -2px;
  margin-left: 10px;
}

.post_ownername span{
  font-size:11px;
  padding-right: 5px;
  color: var(--color-principale);
  font-size: 10px;
}

.post_time{
margin-top: -15px;
text-align: left;
margin-left:50px;
color: grey;
font-size: 11px;
font-style: italic;
}
.post_content{
  
  background-color:var(--color-secondary) ;
  border-radius : 3px 3px 3px 3px;
  box-shadow:var(--color-principale)0px 1px 5px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding-bottom: 1px;
}

.post_text{
  padding: 10px 5px 0px 0px;
  text-align: left;
}

/*post*/


.one_post{
  cursor: pointer;
}
.thepost{
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
}
.thepost_card{
  display: flex;
  flex-direction: column;
}
.thepost_info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.thepost_avatar{
  width: 35px;
  height: 35px;
  cursor:pointer
}

.thepost_ownername{
  font-size: 16px;
  margin : 0px 0 0 4px
}
.thepost_ownername span{
  padding-right: 5px;
  color: var(--color-principale);
  font-size: 12px;
}
.thepost_time{
  margin-top: -15px;
  text-align: left;
  margin-left:40px;
  color: grey;
  font-size: 12px;
  font-style: italic;
}
.thepost_content{
  background-color:var(--color-secondary) ;
  border-radius : 10px 10px 3px 3px;
}
.thepost_text_style{
background-color: var(--color-secondary);;
border: var(--color-principale)1px solid;
border-radius: 25px 25px 0 0;
}
.thepost_text{
  text-align: left;
  font-size: 14px;
  padding: 5px 5px 5px 10px;
  border-radius : 10px 10px 0px 0px;
}

.thepost_image{
  width: 100%;
  height: 200px;
  position: relative;
  object-fit: cover;
  margin-bottom : 10px;
}

.reaction_user{
  display: flex;
  flex-direction : row;
  justify-content: flex-end;
  margin-right: 20px;
  
}
.trash{
  display: flex;
  flex-direction : row;
  cursor: pointer;
}
.like{
  height: 30px;
  cursor: pointer;
  
}
.number_of_likes{
  margin-left: 0px;
  margin-right: 15px;
}
.trash{
  color:var(--color-principale);
  margin-top: 5px;
}
.trash p{
margin : 5px 0 0 0;
}
.comment_intro{
  cursor: pointer;
}
.create_c{

  padding: 5px 5px 5px 5px;
  margin-top : 3px;
  background-color: var(--color-secondary); ;
  box-shadow: #5b9d7f13 0px 3px 6px, #5b9d7f10 0px 3px 6px;
}
.create_comment{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.comment_username{
  padding-left : 10px;
  font-size : 14px;
}
.comment_input{
  background: none;
  border:1px #5b9d7f3f solid;
  margin-top : -1px;
  width: 100%;
  
}

.comment_username span{
  color: var(--color-principale);
  font-size: 8px ;
}

.btn-secondary {
  font-size : 10px;
  background-color: transparent;
  border: none;
  }
.button_file img{
  width: 30px;
  margin-right: 5px;
}
.button_create{
display: flex;
flex-direction: row;
align-items: center;
margin-top: -25px;
cursor: pointer;

}
.button_create img {
height: 40px;
margin-left: auto;
margin-right: -55px;
z-index: 5;
}

.btn-create {
  color: #fff;
  font-size:10px;
  background-color: var(--color-principale);
  border-color: var(--color-principale);
}

.create_input_style{
  display: flex;
  flex-direction: nowrap;
  justify-content: flex-end;
  margin-top:5px;
  z-index: 4;
}

.btn-secondary:hover {
  
  background-color: transparent;
  border-color: var(--color-principale);
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

#avatar_create_comment{

  height: 20px;
  width:20px;
  margin: 7px 2px 0px 5px ;
}
#comment_username{
  font-size: 12px;
  margin: 8px 2px 5px 0px ;
  padding-left:2px;
}


/*profil*/

.header_avatar{
  height: 50px;
  width: 50px;
  max-height: 50px;
  max-width: 50px;
  margin: auto auto auto auto;
  border: var(--color-principale)solid 3px;
  cursor: pointer;

}


#modal-1{
  background: #49756136;
}
.myprofil_header{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.myprofil_header p{
  font-size: 20px;
}

.myprofil_header span{
  color: var(--color-principale);
}
.modal_avatar{
  
  height: 100px;
  width: 100px;
  max-height: 100px;
  max-width: 100px;
  margin: -30px auto auto auto;
  text-align: center;
  border: var(--color-principale)solid 3px;

}
.modal-content {
  background-color : var(--color-secondary); ;
  padding:10px;
}
#alert{
  margin-left: 14px;
  margin-right:10px;
  background-color: #9d5b69;
  border: var(--color-principale)solid 3px;
}
#alert_text{
  font-size : 14px;
  font-style: italic;
}
#oups{
  background: rgb(4, 84, 109);
}

#validation_button {
  color: #fff;
  background-color: var(--color-principale);
  border-color: var(--color-principale);
  padding : 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  font-size: 18px;
}
#validation_button :disabled{
  color: rgba(66, 65, 65, 0.541);
  background-color: #0d0e0d;
  border-color: #9d5b5b;
  margin-left: 40px;
}

.errorMessage {
  font-size: 10px;
  color: var(--color-principale);
  display: flex;
  margin : 3px 10px 0 20px;
  white-space: normal;
  justify-content: center;
}


.button_modification{

  display : flex;
  flex-direction: row;
  justify-content: center;
}


#cancel_button{
  background-color :#a31d1d;
  border: #a31d1d;
  margin-left: 10px;
  padding : 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  font-size: 18px;
}
.mb-2{
  margin-top :20px;
  width: 50%;
  font-size: 15px;
}

#username_modal{
  margin-bottom : 0px;
}

/* SeeOnePost */
#modal-3{
  background: #49756136;
}
.modal-body{
  min-height: 800px;
  max-height: 1500px;
  max-width: 100%;
}
/*seeProfil*/


.header_avatar{
  height: 50px;
  width: 50px;
  max-height: 50px;
  max-width: 50px;
  margin: 15px auto auto auto;
  border: var(--color-principale)solid 3px;
  cursor: pointer;

}


#modal-2{
  background: #49756136;
}

.modal-footer{
  display:none;
}
.modal-header{

  display:none;
  color:var(--color-principale);
  height: 0px;
  border: none;
}
.modal-header h5{
  display:none;
}
.close{
  color:#14f590;
}
.close:hover {
    color:#97032f;
    text-decoration: none;
}


.profil_style{
    margin-top :30px;
}
.details_style{
    display: flex;
    flex-direction : column;
    text-align: left;
    width: 100%;
}
.details_style h3{
    font-size :16px;
    color: var(--color-principale);
    background-color: var(--color-tertiary);
    padding:10px 10px 10px 10px ;
}
.details_style p{
    font-size :14px;

}

#username_modal{
  margin-bottom : 0px;

}

.close{
  color:var(--color-principale);
  cursor: pointer;
}

/*stats*/
.stats_container{
  width: 90%;
  margin : 0px auto 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.stats_bloc{
  width: 40%;
  padding:20px;
  border: solid 1px var(--color-principale);
  border-radius : 5px;
  box-shadow: var(--color-principale) 0px 2px 2px, #5b9d7f81 0px 4px 4px;
  margin : 20px auto 20px auto;
}
.stats_bloc h3{
  font-size : 18px;
  color: var(--text-color);
  text-align: center;
}

.stats_bloc p{
  font-size : 24px;
  color: var(--color-principale);
  text-align: center;
}
@media screen and (min-width: 650px) {
.recent_post{
max-width: 40%;
}
.col-5 {
border-left : #5b9d7f54 1px solid;
flex: 0 0 60%;
max-width: 60%;
}
.menu{
display:none
}

.recent_post {
display: block;
}

.commented_post{
display: block ;
}
.description_theme {
max-width: 50%;
}
.explain{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.stats_container{
width: 100%;
margin : 0px auto 20px auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

}

@media screen and (min-width: 830px) {
.container, .container-sm, .container-md {
  max-width: 810px;
}
/*index*/
.menu{
  display:none;
}
.recent_post,.col-5,.commented_post{
  display: block;
}

.col-5 {
  border-left : none;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.stats_container{
  width: 90%;
}
.content_more .stats_bloc {
  width: 80%;
}
/*timeline*/
.create_post {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0 10px auto;
}

.username_create {
  font-size: 14px;
  margin-left: 5px;
  text-align: left;
  margin: -30px 0 10px 50px;
}
}
@media screen and (min-width: 1000px) {
  .container, .container-sm, .container-md {
    max-width: 1200px;
  }
  .content_more{
    height: 440px;
  }
  
    .realtimeline {
      overflow: scroll;
      max-height: 780px;
  }

  .overview_style {
    width: 400px;
    margin: 20px auto 10px auto;
}

}

